{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Lazy_Fitness</title>
</head>
<body>
    <p>
        Mast Khao-piyo aishh karoon
    </p>
<h2>Testing Buddy</h2>
<img height="580px" width="auto" src="../static/images/bat3.jpg" alt="Holi_Buddies">

<p>
    Friends is an American sitcom television series, created by David Crane and Marta Kauffman,
    which aired on NBC from September 22, 1994, to May 6, 2004, lasting ten seasons.[1]
    With an ensemble cast starring Jennifer Aniston, Courteney Cox, Lisa Kudrow, Matt LeBlanc,
    Matthew Perry and David Schwimmer, the show revolves around six friends in their 20s and 30s who live in Manhattan,
    New York City. The series was produced by Bright/Kauffman/Crane Productions, in association with Warner Bros. Television.
    The original executive producers were Kevin S. Bright, Kauffman, and Crane.
</p>
</body>
</html>